.review {
  border-width: 1px;
  border-style: solid;
  border-color: rgb(214, 214, 214);
  border-image: initial;
  border-radius: 4px;
  padding: 20px;
  text-align: left;
  margin-top: 16px;
  font-family: Targetica, "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.4285;
}

.userLine {
  font-size: 12px;
  margin-top: 4px;
}

.reviewTitle {
  margin-bottom: 8px;
  margin-top: 0px;
}

.stars {
  display: inline-block;
}